@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;

@tailwind utilities;

* {
  font-family: "Cairo";
}

@layer base {
  @font-face {
    font-family: "Cairo";
    src: url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
  }
}
